* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #080808;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: #F5F5F5;
}

img {
  max-width: 100%;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  color: #fdfdfd;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(
    90deg,
    rgba(0, 122, 255, 1) 0%,
    rgba(90, 168, 241, 1) 100%
  );
  border-radius: 3rem;
  border: none;
}

button:hover {
  background: linear-gradient(
    90deg,
    rgba(90, 168, 241, 1)  0%,
    rgba(0, 122, 255, 1) 100%
  );
}