#question {
  text-align: center;
  max-width: 500px;
  background-color: #007aff;
  border-radius: 1rem;
  padding: 2rem;
}

#question h2 {
  margin-bottom: 2rem;
  color: #fdfdfd;
}

#question p {
  margin-bottom: 1rem;
  color: #fdfdfd;
}

#question button {
  border: 2px solid #fff;
  margin: 0.5rem;
}
